---
layout: default
---

<div class="home">

    <div class="section" id="welcome-section">
        <h1 class="big">Yet another software engineers, are we?</h1>
        <h2>We do Java, Ruby, Javascript stuff.</h2>

        <p>Our main goal is to work closely with clients in order to deliver products.</p>
    </div>

    <div class="section section-bottom-border" id="profile-section">
        <h1 class="big">Who are we?</h1>
        <div class="container">
            <div class="column-left">
                <div class="profile-container-left">
                    <img class="profile-img" src="/images/profile/tomek.jpg">
                    <p class="text-align-center profile-name">Tomasz Banaś</p>
                    <p class="text-align-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                        Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at
                        risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed
                        posuere libero dui id orci.</p>
                </div>
            </div>
            <div class="column-center">
                <div class="profile-container-center">
                    <img class="profile-img" src="/images/profile/kamil.jpg">
                    <p class="text-align-center profile-name">Kamil Kubacki</p>
                    <p class="text-align-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                        Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at
                        risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed
                        posuere libero dui id orci.
                    </p>
                    <p>
                        {% include icon-twitter.html username="KamilKubacki" %}<br />
                        {% include icon-github.html username="Natif" %}
                    </p>
                </div>
            </div>
            <div class="column-right">
                <div class="profile-container-right">
                    <img class="profile-img" src="/images/profile/artur.jpg">
                    <p class="text-align-center profile-name">Artur Trzop</p>
                    <p class="text-align-justify">
                    I'm Ruby developer since 2012. I'm the author of <a href="https://github.com/ArturT/knapsack">knapsack gem</a> and the <a href="http://knapsackpro.com">KnapsackPro.com</a> tool which helps to optimize test suite distribution across continuous integration servers. I worked for recent years with business financing clients from San Francisco and London.
                    </p>
                    <p>
                      {% include icon-twitter.html username="ArturTrzop" %}<br />
                      {% include icon-github.html username="ArturT" %}
                    </p>
                </div>
            </div>
        </div>
    </div>

  <div class="section section-bottom-border" id="how-we-work-section">
    <h1 class="big">How do we work?</h1>
    <div class="how-we-work">
        <div class="container">
            <div class="column-padding">
                <h3>Work model</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                </p>
            </div>
            <div class="column-padding">
                <h3>Settlement type</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                </p>
            </div>
            <div class="column-padding">
                <h3>Ways of communication</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                </p>
            </div>
        </div>
    </div>
  </div>

    <div class="section section-bottom-border" id="technology-section">
        <h1 class="big">Technologies we use</h1>
        <div class="tech-icons">
            <div class="tech-icons-group tech-icons-group-languages">
                <img src="images/technologies/ruby.png" class="tech-icon" alt="Ruby"/>
                <img src="images/technologies/java.png" class="tech-icon tech-icon-java" alt="Java"/>
                <img src="images/technologies/javascript.png" class="tech-icon" alt="JavaScript"/>
            </div>

            <div class="tech-icons-group tech-icons-group-frameworks">
                <img src="images/technologies/ruby_on_rails.svg" class="tech-icon" alt="Ruby on Rails"/>
                <img src="images/technologies/spring.png" class="tech-icon" alt="Spring MVC"/>
                <img src="images/technologies/play.svg" class="tech-icon" alt="Play Framework"/>
            </div>

            <div class="tech-icons-group tech-icons-group-databases">
                <img src="images/technologies/mysql.svg" class="tech-icon" alt="MySQL"/>
                <img src="images/technologies/postgresql.png" class="tech-icon" alt="PostgreSQL"/>
                <img src="images/technologies/redis.png" class="tech-icon" alt="Redis"/>
                <img src="images/technologies/mongodb.png" class="tech-icon" alt="MongoDB"/>
                <img src="images/technologies/elastic.png" class="tech-icon" alt="Elastic"/>
                <img src="images/technologies/oracle.svg" class="tech-icon tech-icon-oracle" alt="Oracle"/>
            </div>

            <div class="tech-icons-group tech-icons-group-other">
                <img src="images/technologies/html5_css_javascript.png" class="tech-icon" alt="HTML5, CSS, JavaScript"/>
                <img src="images/technologies/git.png" class="tech-icon" alt="Git"/>
                <img src="images/technologies/sass.svg" class="tech-icon" alt="Sass"/>
            </div>

            <div class="tech-icons-group tech-icons-group-platforms">
                <img src="images/technologies/heroku.png" class="tech-icon" alt="Heroku"/>
                <img src="images/technologies/aws.svg" class="tech-icon" alt="AWS"/>
            </div>
        </div>
    </div>

    <div class="section" id="contact-section">
        <h1 class="big">Contact</h1>
        <div class="contact">
            <h3>We work remotely, yet still three of us live in Kraków, Poland.</h3>

            <!--<div class="contact-map-image">-->
            <!--<img src="https://maps.googleapis.com/maps/api/staticmap?center=Krakow,Poland&zoom=14&size=600x200&key={{ site.static_maps_key }}"-->
            <!--alt="Krakow, Poland"/>-->
            <!--</div>-->

            <div class="contact-us-button margin-top-40x">
                <a href="mailto:{{ site.email }}" class="contact-button">Contact us</a>
            </div>
        </div>
    </div>

</div>
